.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
img, embed, video, object{
  max-width: 100%;
}
nav a, button{
  min-width: 48px;
  min-height: 48px;
}

 html, body, main, .main-content, section, .nav-bar, .map-container, header,{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/*==============Skip Link===============*/

.skip-link{
  position: absolute;
  top:-40px;
  left: 0;
  color: white;
  background:#bf1722;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus{
  top: 0;
}

/* ================Nav-bar=========================*/
header{
  width: 100%;

}
.nav-bar{
  height: 100%;
  width: 100%;
}
 nav h1 a{
  font-size: 1.5em

}

/*==================MAP=====================*/
section#map-container {
  width: 100%;
}
#map {
  height: 20vh;
}
/*===============Filter Options===============*/
.filter-options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  background-color: #252831;
  
  
}
.filter-options h2{
  width: 100%;
  font-size: 1.5em;
}
.filter-options select {
  font-size: 1.3em;
}

/*=====================Restaurant list===================*/

#restaurants-list li,#restaurants-list {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  border:0;
  font-size: 1.5em;
}
#restaurants-list p {
  margin: 0;
  font-size: .8em;
}


#restaurants-list li button {
    font-size: 16px;
    min-height: 48px;
    min-width: 48px;
    width: 100%;
    padding: 20px;
}
#restaurants-list li h3{
  font-size: 1.2rem;
}

/*===============Footer===============================*/
#footer{
  width: 100%;
  font-size: 1em;
  background-color: #252831;
  display:flex;
  flex-wrap: wrap;

}


/*
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
} */
/*=======================nav-bar=======================*/
/* body{
  padding-top: 33.33%;
}
.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 15vh;
}
nav h1 a {
  font-size: 1.2em;
} */



/*======================Resturant list============================*/
/* #restaurants-list li, #restaurants-list{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#restaurants-list li a {
  display: flex;
  font-size: 1.2em;
  margin: 15px;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  min-height: 48px;
}
#restaurants-list li h1 {
  font-size:1.5em;  
}

body,#restaurants-list p {
  font-size: 1.2em;
}
#footer{
  font-size: 1em;
} */


/*=================================Media Query===============================*/
@media screen and (max-width:400px){
   .map-container{
    display: none;
  }
  .filter-options select {
    width: 100%;
  }
}
@media screen and (min-width:401px){
  .filter-options select {
    width: 45%;
  }
}

@media screen and (min-width:500px){
   #restaurants-list li{
    width: 45%;
    text-align: center;
    margin: 10px;
  }
  #restaurants-list{
    display: flex;
    flex-wrap: wrap;
  }  

}

@media screen and (min-width:800px){

  #restaurants-list li{
    width: 30%;
    text-align: center;
    margin: 10px;
  }
  #restaurant-list li:last-of-type {
    margin-right: 0;
  }
  
}
@media screen and (min-width:1001px){
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1001px;
  }
}


/*====================Restaurant Review styles==============*/

/* .inside{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}
#breadcrumb, #map-container{
  width: 100%;
}

.inside #map-container {
  height: 50%;
  width: 100%;
}

.inside #footer {
  width: 100%;
} */